
@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face {
    font-family: Neuzeit;
    src: url(../fonts/neuzeitforplymouth-bold-webfont.woff);
}



*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: Neuzeit, Raleway, Georgia, Serif ;
    height: 100%;
}

/*===================================================LOGIN FORM CSS======================================================================*/

form {
    border: 3px solid #f1f1f1;
}

.login-user, .login-pass {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}

input[type=text]{
    font-family: Neuzeit, Raleway;
}

.login-user::-webkit-input-placeholder, .login-pass::-webkit-input-placeholder {
    font-weight: bold;
    font-family: Neuzeit, Raleway;
    font-size: 20px;
    text-align: center;
}

.new-pass::-webkit-input-placeholder{
    font-weight: bold;
    font-family: Neuzeit, Raleway;
}
/*:-moz-placeholder {*/
    /*font-family: Raleway;*/
/*}*/
/*::-moz-placeholder {*/
    /*font-family: Raleway;*/
/*}*/
/*:-ms-input-placeholder {*/
    /*font-family: Raleway;*/
/*}*/

.login-submit {
    font-family: Neuzeit;
    font-size: 25px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-submit:hover {
    opacity: 0.8;
}

.login-submit:disabled{
    background-color: grey;
}

.login-submit:disabled:hover{
    opacity: 1.0;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.ply-logo {
    width: 100%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.card{
    background-color: white;
    transition: 0.3s;
    border-radius: 5px;
    width: 30%;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-messages{
    text-align: center;
    display: none;
    color: red;
}

/*===================================================LOGIN FORM CSS(END)=================================================================*/

/*=====================================================TEMPLATE CSS=====================================================================*/

.wrapper{
    position: relative;
    left: 0;
    padding-left: 0;
    height: 100%;
    overflow: hidden;
}

.top{
    margin-left: 200px;
    top: 0;
    height: 75px;
    background: #3C8DBC;
    /*background: black;*/
    /*border: 5px solid red;*/
}

.left{
    /*visibility: hidden;*/
    /*margin-left: -150px; /* "#menu" width */
    /*position: fixed;*/
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 250px;
    float: left;
    min-height: 100%;
    background: #222D32;
    /*display: none;*/
    /*background: black;*/
    /*text-align: left;*/
}

.logo{
    /*visibility: hidden;*/
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 250px;
    /*display: inline-block;*/
    height: 75px;
    /*background: black;*/
    background: #367FA9;
    float: left;
}

.logo-text{
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 6px;
    font-family: Neuzeit;
    font-size: 25px;
}

.header{
    margin-top: 0;
    width: 100%;
    display: inline-block;
}

.menu-link{
    visibility: hidden;
}

.menu-icon-div{
    height: 100%;
    display: inline-block;
}

.user-name{
    font-family: Neuzeit;
    font-size: 25px;
    font-weight: bolder;
    float: right;
    padding: 22px;
    color: white;
    /*border: 1px solid red;*/
}

.user-name:hover{
    background: #367FA9;
    color: white;
    cursor: pointer;
}

.drop-down{
    float: right;
    width: 165px;
    height: 10px;
    border: 1px solid red;
    margin-top: -25px;
    margin-right: -25px;
}

.sidebar-list{
    margin-top: 10px;
}

.sidebar-item{
    font-family: Neuzeit;
    font-size: 14px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid white;*/
}

.link{
    /*display: inline-block;*/
    margin-left: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
    /*border: 1px solid red;*/
    color: #84BDCE;
    text-decoration: none;
}

.link:hover{
    color: white;
}

.sidebar-item:hover{
    background: #1E282C;
    color: white;
    border-left: 2px solid #3C8DBC;
}

.main {
    width: auto;
    height: 100%;
    margin-left:250px;
    background:#ECF0F5;
    padding: 25px;
    border: 0px solid blue;
    /*border: 2px solid red;*/
}

.new-main{
    height: 100%;
    margin-left:200px;
    background:#ECF0F5;
    padding: 25px;
    /*border: 2px solid blue;*/
}

.box{
    background:white;
    width: 98%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
}

.box-header{
    padding: 10px;
    font-family: Neuzeit;
    font-weight: 900;
    font-size: 25px;
    border-bottom: 5px solid #3C8DBC;
}

.box-content{
    font-family: Neuzeit;
    padding: 10px;
}

.main-title{
    font-family: Neuzeit;
    font-size: 18px;
    text-decoration: underline;
}

.box-data{
    margin-top: 15px;
    overflow-x: auto;
    text-align: center;
}

.box-data-content{

}

.sidebar-profile{
    height: 100px;
    width: 100%;
    margin-top: -10px;
    padding: 0px;
    border-bottom: 0px solid black;
    text-align: left;
    /*color: #84BDCE;*/
    color: white;
}

.sidebar-profile-item{
    height: auto;
    border: 0px solid white;
    padding: 5px;
}

.sidebar-profile-last-item{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

td {
    border-bottom: 1px solid black;
}

td{
    padding: 10px;
}

table tr:not(:nth-child(1)):hover {
    background-color: #8cccf2;
    cursor: pointer;
}

table tr:nth-child(1){
    border-bottom: 1px solid black;
}

table tr:last-child{
    /*border: white;*/
    /*color: green;*/
}

table tr:last-child:hover{
    border: white;
}

.form-text-field{
    display: inline-block;
    box-shadow: none;
    padding: 10px;
    font-size: 16px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

select{
    font-family: Neuzeit;
}

input[type=file], input[type=email]{
    font-family: Neuzeit;
}

.textfield-label{
    width: 25%;
    display: inline-block;
}

.small{
    width: 30%;
}

.medium-size{
    width: 70%;
}


.form-text-field:focus{
    outline: none;
    border: solid 1px #8cccf2;
    box-shadow: 0 0 5px 1px #969696;
}

.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
    /*border: 1px solid red;*/
}

.message-body{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
}

/*======================================================TEMPLATE CSS (END)===============================================================*/

/* @media query to change styles on extra small screens */

@media screen and (max-width: 1024px) {

    /*===============================================LOGIN FORM CSS(MOBILE)==============================================================*/

    .login-submit{
        font-size: 18px;
    }

    .wrapper{
        overflow: auto;
    }

    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }

    .card{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        width: 100%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        /*position: relative;*/
        /*top: 50%;*/
        /*transform: translateY(50%);*/
    }

    /*===============================================LOGIN FORM CSS(MOBILE END)==========================================================*/

    /*===============================================MAIN SCREEN CSS(MOBILE)=============================================================*/

    .left{
        width: 0;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .logo{
        width: 100%;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        display: inline-block;
    }

    .top{
        margin-left:0;
        width: 100%;
        clear: both;
    }

    .menu-link{
        visibility: visible;
    }

    .menu-icon{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .main{
        width: auto;
        /*border: 6px solid red;*/
        margin-left: 0;
        margin-top: auto;
        margin-bottom: auto;
        /*overflow: auto;*/
    }

    .box{
        width: 95%;
    }

    /*===============================================MAIN SCREEN CSS(MOBILE END)=========================================================*/

    .form-text-field{
        display: block;
    }

    .form-group{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .textfield-label{
        padding: 5px;
    }

}